.filterPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    margin-top: 2rem;
    color: white;
}

.filterTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.filterOptions{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    gap: 2rem;
}

.filterOptions article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.filterOptions select {
    width: 200px;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 6px;
    appearance: none;
    -webkit-appearance: none;
    background-image: url('/src/assets/Polygon3.png');
    background-position: 180px center;
    background-size: 15px;
    background-repeat: no-repeat;
    outline: none;
}

.filterOptions input{
    width: 200px;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 6px;
    outline: none;

}

.hrSec{
    display: flex;
    align-items: center;
    justify-content: center;
}

hr{
    width: 650px;
}


  /*RESPONSIVENESS*/

@media only screen and (max-width: 739px) {
    .filterOptions{
        flex-direction: column;
    }

    hr{
        width: 360px;
    }
}

@media only screen and (max-width: 442px) {
    .filterPage{
        gap: 2rem;
    }

    .filterTitle{
        font-size: 1.5rem;
    }

    hr{
        width: 250px;
    }
  }

