.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 3rem;
    gap: 3rem;
    box-shadow: 0 5px 40px;
}

.header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoSec{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logoSec article{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
}

.logoSec article h1{
    color: white;
    font-size: 3rem;
    font-weight: 500;
}

.navSec ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6rem;
}

.navSec ul li button{
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.navSec .lightMode{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: solid;
    border-radius: 100px;
    padding: 0.8em;
    cursor: pointer;
    position: relative;
}

.navSec .circle{
    background-color: rgb(136, 136, 136);
    position: absolute;
    width: 40px;
    height: 40px;
    right: 7px;
    border-radius: 100px;
    z-index: -20;
}

body.dark-mode,body.dark-mode h1, body.dark-mode li button{
    background-color: white;
    color: black;
}

.switch .circle{
    background-color: #FFE500;
    position: absolute;
    width: 43px;
    height: 43px;
    left: 7px;
    border-radius: 100px;
    z-index: -20;
}

@keyframes slideIn {
    0% {
      transform: translateX(50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in {
    animation: slideIn 0.5s ease;
  }
  
@keyframes slideOut {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-out {
    animation: slideOut 0.5s ease;
  }

  

  /*RESPONSIVENESS*/

  @media only screen and (max-width: 1280px) {
    .header{
        justify-content: center;
        gap: 3rem;
        flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 1024px) {

      .header{
        align-items: stretch;
    }

    .logoSec article h1{
        font-size: 1.5rem;
    }

    .logoSec article img{
        width: 3rem;
    }

    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    
    .hamburgerLine{
        width: 3rem;
        height: 3px;
        background-color: white;
    }
    
    .navSec{
        display: none;
    }

    .visible{
        display: block;
    }

    .navSec ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .navSec ul li button {
        font-size: 1.5rem;

    }

    
}

@media only screen and (max-width: 772px) {

    .header{
        padding: 1rem;
        gap: 3rem;
    }
}

@media only screen and (max-width: 451px) {

    .logoSec article{
        gap: 1rem;
    }

    .logoSec article h1{
        font-size: 1rem;
    }

    .logoSec article img{
        width: 2rem;
    }

    .hamburgerLine{
        width: 2rem;
    }
}

@media only screen and (max-width: 338px) {
    .header{
        gap: 1rem;
    }

}
  
  


